
.image-review{
    display:grid;
    grid-template-columns: auto,auto,auto;
}
.image-review{
    background-color: gray;
    width: 500px;
    height: 500px;
    border: 3px solid slateblue;
    border-radius: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}