.image-iteam{
    background-color: blueviolet;
    display:block;
    margin: 25px 10px 10px 10px;
}
.image-iteam img{
    width: 200px;
    height: 200px;
    border: 2px solid yellow;
    border-radius: 10px;
}
.image-iteam button{
    background-color:white;
    border: 2px solid yellow;
    border-radius: 10px;
}
.image-iteam button:hover{
    background-color: green;
}