.homepage{ display: grid;
    grid-template-columns: auto auto auto;
    color:gray;
}
.first-div p{
    font-size:25px;
    margin-top: 40px;
}
.homepage img{width: 400px;
height: 350px;}

.homepage button{
    background-color:lawngreen;
    border: 2px solid orange;
    border-radius: 10px;
}
.homepage button:hover{background-color:darkorchid;}
.home-review{
    display:grid;
    grid-template-columns: 2fr 1fr;
    grid-gap:5px;
    margin-top: 100px;
    margin-left: 150px;
}
.home-review img{
    width: 250px;
    height: 250px;

}
    





