.homepage{ display: grid;
    grid-template-columns: auto auto auto;
    color:brown;
}
.homepage h2:hover{font-size: 50px;
                   
}
.homepage img{width: 400px;
height: 400px;}
.homepage button{
    background-color: aqua;
    border: 4px solid yellow;
    border-radius: 10px;
}
.homepage button:hover{background-color: crimson;}

