.header{
    display: flex;
    justify-content: center;
    
}
.header a{
    text-decoration: none;
    font-size: 25px;
    color: slateblue;
    margin-left: 15px;
}
.header a:hover{
    color: tomato;
    font-style: italic;
}