.header{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.header a{
    text-decoration: none;
    font-size: 25px;
    color:lawngreen;
    margin-left: 15px;
}
.header a:hover{
    color: darkorchid;
}